<md-content class="md-padding" layout="row">
	<div flex layout="row">
		<a ui-sref="withdrawal" flex>
			<md-card flex>
				<div layout="row" layout-align="center center">
	        		<img ng-src="img/withdrawing-money-from-atm.png" class="md-card-image atm" alt="Withdrawal">
	        	</div>
		        <md-card-title>
		          <md-card-title-text layout="row" layout-align="end center">
		            <span class="md-headline">Withdrawal</span>
		          </md-card-title-text>
		        </md-card-title>
		        <!--<md-card-content>
		          <p>
		            Withdrawal yout money
		          </p>
		        </md-card-content>-->
		        <md-card-actions layout="row" layout-align="end center">          
		          <md-button class="md-icon-button" aria-label="Share">
		            <md-icon md-svg-icon="img/share-arrow.svg"></md-icon>
		          </md-button>
		        </md-card-actions>
	      	</md-card>
      	</a>
      	<a ui-sref="deposit" flex>
	      	<md-card flex>
	      		<div layout="row" layout-align="center center">
	        		<img ng-src="img/dollar-bill-paper-in-an-envelope-to-make-a-deposit-in-a-bank.png" class="md-card-image atm" alt="Deposit">
	        	</div>
		        <md-card-title>
		          <md-card-title-text layout="row" layout-align="end center">
		            <span class="md-headline">Deposit</span>
		          </md-card-title-text>
		        </md-card-title>
		        <!--<md-card-content>
		          <p>
		            Deposit yout money
		          </p>
		        </md-card-content>-->
		        <md-card-actions layout="row" layout-align="end center">          
		          <md-button class="md-icon-button" aria-label="Share">
		            <md-icon md-svg-icon="img/share-arrow.svg"></md-icon>
		          </md-button>
		        </md-card-actions>
	      	</md-card>
      	</a>
	</div>
</md-content>

