<md-content class="md-padding" layout="row" flex>
  <form name="depositForm" ng-submit="vm.deposit(depositForm, depositForm.$valid)" novalidate flex>
  <md-card flex>    
    <md-card-title>
      <md-card-title-text layout="row" layout-align="start center">
        <span class="md-headline">Deposit</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>      
      <md-input-container class="md-block" >
        <label>Deposit</label>
        <input required name="depositValue" ng-model="vm.depositValue" type="number" min="2" step="2" readonly>
        <div ng-messages="depositForm.depositValue.$error">
          <div ng-message="required">This is required.</div>
        </div>
        <div layout="row" layout-padding layout-wrap>
          
              <md-content layout="row" layout-padding>
                <div>
                  <md-input-container>
                    <label>Quantity of R$ 100 Reais</label>
                    <input type="number" min="0" step="1" ng-model="vm.note100" ng-click="vm.calculate($event, vm.note100, 100)">
                  </md-input-container>
                  x <img ng-src="https://www.bcb.gov.br/htms/mecir/cedulas/real100a.jpg" height="60px">
                  
                </div>
              </md-content>
              
            
              <md-content layout="row" layout-padding>
                <div>
                  <md-input-container>
                    <label>Quantity of R$ 50 Reais</label>
                    <input ng-model="vm.note50" type="number" min="0" step="1" ng-click="vm.calculate($event, vm.note50, 50)">
                  </md-input-container>
                  x <img ng-src="https://www.bcb.gov.br/htms/mecir/cedulas/real050a.jpg" height="60px">
                  
                </div>
              </md-content>
              
            
              <md-content layout="row" layout-padding>
                <div>
                  <md-input-container>
                    <label>Quantity of R$ 20 Reais</label>
                    <input ng-model="vm.note20" type="number" min="0" step="1" ng-click="vm.calculate($event, vm.note20, 20)">
                  </md-input-container>
                  x <img ng-src="https://www.bcb.gov.br/htms/mecir/cedulas/real020a.jpg" height="60px">
                  
                </div>
              </md-content>
              
            
              <md-content layout="row" layout-padding>
                <div>
                  <md-input-container>
                    <label>Quantity of R$ 10 Reais</label>
                    <input ng-model="vm.note10" type="number" min="0" step="1" ng-click="vm.calculate($event, vm.note10, 10)">
                  </md-input-container>
                  x <img ng-src="https://www.bcb.gov.br/htms/mecir/cedulas/real010a.jpg" height="60px">
                  
                </div>
              </md-content>
              
            
              <md-content layout="row" layout-padding>
                <div>
                  <md-input-container>
                    <label>Quantity of R$ 5 Reais</label>
                    <input ng-model="vm.note5" type="number" min="0" step="1" ng-click="vm.calculate($event, vm.note5, 5)">
                  </md-input-container>
                  x <img ng-src="https://www.bcb.gov.br/htms/mecir/cedulas/real005a.jpg" height="60px">
                  
                </div>
              </md-content>
              
            
              <md-content layout="row" layout-padding>
                <div>
                  <md-input-container>
                    <label>Quantity of R$ 2 Reais</label>
                    <input ng-model="vm.note2" type="number" min="0" step="1" ng-click="vm.calculate($event, vm.note2, 2)">
                  </md-input-container>
                  x <img ng-src="https://www.bcb.gov.br/htms/mecir/cedulas/real002a.jpg" height="60px">
                  
                </div>
              </md-content>
              
            
          
        </div>
      </md-input-container>        
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">   
      <md-button class="md-raised md-primary" type="submit">
        Deposit
      </md-button>
    </md-card-actions>
  </md-card>
  </form>
</md-content>
